h1 {
	font-family: 'Bitter', serif;
	font-size: 8em;
	margin: 0 0 20px 0;
	border-bottom: 3px dashed black;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 300;
	margin: 0;
}

a, ol, ol li:before, li {
	font-family: 'Roboto', sans-serif;
}

a{
	color: #ff2845;
}

a:hover, a:active, a:visited {
	text-decoration: none;
	color: #ff2845 !important;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#wrapper {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10%;
}

.vcenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#buttons {
	margin-top: 20px;
}

.button-red {
	padding: 10px 30px;
	background-color: #ff2845;
	width: 15%;
	color: white !important;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	font-size: 1.3em;
}

.button-red:visited, .button-red:hover, .button-red:active {
	color: white !important;
}

.button-transparent {
	padding: 10px 30px;
	background-color: transparent;
	border: 1px solid #ff2845;
	width: 15%;
	color: black;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	font-size: 1.3em;
}

.button-transparent:visited, .button-transparent:hover, .button-transparent:active {
	color: black !important;
}

ol {
	counter-reset: item;
}

ol li {
	display: block;
    margin: 0 0 50px 0;
    font-size: 1.5em;
}

ol li:before {
    content: counter(item);
    counter-increment: item;
    background-color: #ff2845;
    padding: 0.75em 1em;
    color: white;
    border-radius: 100%;
    margin-right: 10px;
}

#top-bar {
	width: 100vw;
	height: 0.6em;
    background-color: black;
    position: absolute;
    top: 0;
    content: "";
    background: linear-gradient(124deg, #000, #ff2845, #000);
    animation: rainbow 4s ease;
    animation-delay: 1s;
    background-size: 2000% 2000%;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    100%{background-position:100% 19%}
}
@-moz-keyframes rainbow {
   0%{background-position:0% 82%}
    100%{background-position:100% 19%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    100%{background-position:100% 19%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    100%{background-position:100% 19%}
}